extends layout

block content

    div(style="width: 30%; margin: 40px auto; text-align: center;")
        h3(id="welcomeMsg") Welcome [User]!
        h4(id="typeMsg") [User_Type] Control Panel
        div(class="input-group mb-3")
            div(class="input-group-prepend")
                span(class="input-group-text" id="basic-addon1") Email
            input(id="emailField" type="text" class="form-control")
        
        div(class="input-group mb-3")
            div(class="input-group-prepend")
                span(class="input-group-text" id="basic-addon1") Password
            input(id="passField" type="password" class="form-control")

        h4(id="warning" style="color: red; display: none;")

        div(class="input-group mb-3")
            input(id="submit" type="submit" class="btn btn-success" value="Login" style="width: 50%; margin: 0 auto;")