extends layout

block content
    div(style="margin: 40px 40px;")
        div(style="height: 500px; width: 33%; float: left; border: 3px solid black;")
            div(style="text-align: center;")
                h3 News
                p All recent news will appear here
            table(class="table table-striped")
                tbody
                    tr
                        td 06/14/2018
                        td Another asshat kid is harrassing his teammates. Time to boop some snoots out here.
                    tr
                        td 07/14/2018
                        td Snoot booping has become a real issue. Parents need to blah blah blah why try they don't listen anyway.

        div(style="height: 500px; width: 33%; float: left; border-top: 3px solid black; border-bottom: 3px solid black;")
            div(style="text-align: center;")
                h3 Sports
                p Sports shit shows up here
            table(class="table table-striped")
                tbody
                    tr
                        td 06/14/2018
                        td So how are we going to make custom roster pages have draggable players to the ice?
                    tr
                        td 07/14/2018
                        td Hows about some sports news. It's a damn sports site anyway so why not I say.

        div(style="height: 500px; width: 33%; float: left; border: 3px solid black;")
            div(style="text-align: center;")
                h3 Weather
                p It's cold as a motherfucker out here
            table(class="table table-striped")
                tbody
                    tr
                        td 06/14/2018
                        td We're with you through it all. CHANNEL 5 news at 6. I'm your host with the most.
                    tr
                        td 07/14/2018
                        td With news and sports and weather, we'll always be together.